# A lot of libreoffice, latex, latexmk, and biblatex files
*.bcf
*.run.xml
*.xdv
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.iml
*.toc
*.blg
*.bbl
*.cls
*.nav
*.snm
*.vrb
*.loc
*.lof
*.lot
*.soc
*-SAVE-ERROR
*.DS_STORE
*.sty
*.tdo
*.synctex.gz

# Ignore them by default but add rules for each individual submission.
*.pdf

# 1
DatasaurusDozen.tsv
kochin.CSV
!1.2.pdf
!1.2.py.out
#!1/1.pdf
